@model IEnumerable<KalingaCMSFinal.Models.CornProduction>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MunicipalityID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CornID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AreaHectares)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Production)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProdYield)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearTaken)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MunicipalityID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CornID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AreaHectares)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Production)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProdYield)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearTaken)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CornProdID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CornProdID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CornProdID })
        </td>
    </tr>
}

</table>
