@model KalingaCMSFinal.Models.ref_ImplementingDepartment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ref_ImplementingDepartment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ImpDeptCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImpDeptCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImpDeptDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImpDeptDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ImpDeptID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
