@model IEnumerable<KalingaCMSFinal.Models.ref_ImplementingDepartment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImpDeptCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImpDeptDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ImpDeptCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImpDeptDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ImpDeptID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ImpDeptID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ImpDeptID })
        </td>
    </tr>
}

</table>
