@model IEnumerable<KalingaCMSFinal.Models.vw_ProjectProfile>

@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Project Profiles</h4>
        <hr />
    </div>
}
<table class="table table-striped table-bordered" id="ProjectTableExport">
    <thead>
        <tr>
            <th>
                Project Profile ID
            </th>
            <th>
                Function Code
            </th>
            <th>
                Program Code
            </th>
            <th>
                AIP Reference Code
            </th>
            <th>
                Sector Description
            </th>
            <th>
                Project Title
            </th>
            <th>
                Project Description
            </th>
            <th>
                Implementing Office
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Expected Output
            </th>
            <th>
                Project Status
            </th>
            <th>
                Source of Fund Description
            </th>
            <th>
                BDIP Per Municipality
            </th>
            <th>
                Project Category Code
            </th>
            <th>
                Project Reference Output
            </th>
            <th>
                Project Item of Work
            </th>
            <th>
                Municipality
            </th>
            <th>
                Barangay
            </th>
            <th>
                Purok
            </th>
            <th>
                Remarks
            </th>
            <th>
                PS
            </th>
            <th>
                MOOE
            </th>
            <th>
                Capital Outlay
            </th>
            <th>
                Total Budget
            </th>
            <th>
                Strategic Priority Description
            </th>
            <th>
                Strategic Priority Area Description
            </th>
            <th>
                Mitigation
            </th>
            <th>
                Adaptation
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectProfileID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FunctionCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProgramCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReferenceCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SectorDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImpDeptCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjStartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjEndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjExpectedOutput)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjStatusDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SourceFundDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BDIPMunicipalityCode)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.ProjCategoryCode)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.ProjReferenceOutput)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.ProjItemWork)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Municipality)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Barangay)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.ProjPurok)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Remarks)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.ProjPS)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.ProjMOOE)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjCapitalOutlay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalBudget)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.StrategicPriorityDescription)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.StrategicPriorityAreaDescription)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Mitigation)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Adaptation)
                </th>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ProjectProfileID }, new { @class = "modalOpener editModal btn btn-info btn-sm glyphicon glyphicon-edit", @data_target = "editModal" }) |
                    @Html.ActionLink("View", "Details", new { id = item.ProjectProfileID }, new { @class = "modalOpener viewModal btn btn-default btn-sm glyphicon glyphicon-eye-open", @data_target = "viewModal" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProjectProfileID }, new { @class = "modalOpener deleteModal btn btn-danger btn-sm glyphicon glyphicon-trash", @data_target = "deleteModal" })
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div id="mainContent" class="modal-content col-sm-12">
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            var table = $('#ProjectTableExport').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'copy',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'csv',
                        filename: 'Project Profile',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'excelFlash',
                        filename: 'Project Profile',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    'colvis'
                ],
                columnDefs: [
                    {
                        targets: -1,
                        visible: false
                    },
                    {
                        targets: -2,
                        visible: false
                    },
                    {
                        targets: -3,
                        visible: false
                    },
                ],
                scrollX: true,
                scrollCollapse: true,
                fixedColumns: {
                    leftColumns: 0,
                    rightColumns: 1
                }
            });
            table.buttons().container()
                .insertBefore('#example_filter');
            $('#ProjectTable').on("click", ".modalOpener", function (e) {
                e.preventDefault();
                //replace the get with this.href to load the edit page
                $.get(this.href, function (data) {
                    //replace the content returned
                    $("#mainContent").html(data);
                });
                //show the modal
                $('#myModal').modal({
                    keyboard: true,
                }, 'show');
                return false;
            });
            $('#myModal').on('shown.bs.modal', function (e) {
                var form = $("#editForm")
                    .removeData("validator") /* added by the raw jquery.validate plugin */
                    .removeData("unobtrusiveValidation");  /* added by the jquery unobtrusive plugin*/
                $.validator.unobtrusive.parse(form);
                $.get("@Url.Action("GetBarangayList", "ProjectProfile")", { MunicipalityID: $("#MunicipalityID").val() }, function (data) {
                    $("#barangayID").empty();
                    $.each(data, function (index, row) {
                        $("#barangayID").append("<option value='" + row.barangayID + "'>" + row.Barangay + "</option>")
                    });
                });
                $("#MunicipalityID").change(function () {
                    $.get("@Url.Action("GetBarangayList", "ProjectProfile")", { MunicipalityID: $("#MunicipalityID").val() }, function (data) {
                        $("#barangayID").empty();
                        $.each(data, function (index, row) {
                            $("#barangayID").append("<option value='" + row.barangayID + "'>" + row.Barangay + "</option>")
                        });
                    });
                });
                $("#ProjStartDate, #ProjEndDate").change(function () {
                    var startDate = $("#ProjStartDate").val();
                    var startDateArray = startDate.split('-');
                    var endDate = $("#ProjEndDate").val();
                    var endDateArray = endDate.split('-');
                    var startYear = parseInt(startDateArray[0]);
                    var startMonth = parseInt(startDateArray[1]);
                    var startDay = parseInt(startDateArray[2]);
                    var endYear = parseInt(endDateArray[0]);
                    var endMonth = parseInt(endDateArray[1]);
                    var endDay = parseInt(endDateArray[2]);
                    var getDate = new Date();
                    var yearNowPartial = getDate.getFullYear();
                    var monthNowPartial = getDate.getMonth() + 1;
                    var dayNowPartial = getDate.getDate();
                    var dateNow = yearNowPartial + '/' +
                        (('' + monthNowPartial).length < 2 ? '0' : '') + monthNowPartial + '/' +
                        (('' + dayNowPartial).length < 2 ? '0' : '') + dayNowPartial;
                    var dateNowArray = dateNow.split('/');
                    var yearNow = parseInt(dateNowArray[0]);
                    var monthNow = parseInt(dateNowArray[1]);
                    var dayNow = parseInt(dateNowArray[2]);
                    alert(startYear + " " + endYear + " " + yearNow);
                    if ((startYear <= endYear) && (startYear >= yearNow)) {
                        if (startMonth <= endMonth) {
                            if (startDay <= endDay) { $("#btnModalSubmit").removeAttr("disabled"); }
                            else { $("#btnModalSubmit").prop("disabled", "disabled"); }
                        }
                        else { $("#btnModalSubmit").prop("disabled", "disabled"); }
                    }
                    else { $("#btnModalSubmit").prop("disabled", "disabled"); }
                });
            });
        });

    </script>
}
