@model KalingaCMSFinal.Models.EmpMasterProfile

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>EmpMasterProfile</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.empNo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.empNo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.namePrefixTitleID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.namePrefixTitleID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MiddleName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MiddleName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.nameSuffixTitleID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.nameSuffixTitleID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.GenderID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.GenderID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ReligionID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ReligionID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.street)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.street)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BarangayID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BarangayID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MunicipalityID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MunicipalityID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ProvinceID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ProvinceID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CountryID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CountryID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.zipCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.zipCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.residentialPhoneNo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.residentialPhoneNo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.street2)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.street2)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BarangayID2)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BarangayID2)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MunicipalityID2)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MunicipalityID2)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ProvinceID2)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ProvinceID2)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CountryID2)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CountryID2)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.zipCode2)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.zipCode2)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.residentialPhoneNo2)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.residentialPhoneNo2)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.birthDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.birthDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.birthPlace)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.birthPlace)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CivilStatusID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CivilStatusID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CitizenshipID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CitizenshipID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Height)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Height)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Weight)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Weight)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BloodTypeID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BloodTypeID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.GSIS)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.GSIS)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.HDMF)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.HDMF)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PhilHealth)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PhilHealth)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SSS)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SSS)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TIN)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TIN)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LandLineNo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LandLineNo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CellphoneNo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CellphoneNo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EmailAddress)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.YearsInService)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.YearsInService)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MonthsInService)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MonthsInService)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.IsSupervisor)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IsSupervisor)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FirstApprover)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FirstApprover)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SecondApprover)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SecondApprover)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.IsSeparated)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IsSeparated)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DeptID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DeptID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DepartmentUnitID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DepartmentUnitID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AppointmentStatusID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AppointmentStatusID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PositionID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PositionID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DateHired)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DateHired)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DateResigned)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DateResigned)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CurrentSalary)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CurrentSalary)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.empid }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
