@model KalingaCMSFinal.Models.EmpCertificate

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>EmpCertificate</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.empID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.empID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ExamName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ExamName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Rating)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Rating)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ExamDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ExamDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ExamVenue)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ExamVenue)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LicenseNumber)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LicenseNumber)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ReleaseDate)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.empCertID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
