@model KalingaCMSFinal.Models.EmpTraining

@{
    Layout = null;
}

<div class="modal-header success">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Edit Family Background</h4>
</div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "editForm", id = "editForm" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.empTrainID)
            @Html.HiddenFor(model => model.empID)

            <div class="row">
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.TrainingTitle, htmlAttributes: new { @class = "control-label " })
                    <div>
                        @Html.EditorFor(model => model.TrainingTitle, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TrainingTitle, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            Inclusive Dates
            <div class="row">
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label " })
                    <div>
                        @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label " })
                    <div>
                        @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-4">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.DurationHours, htmlAttributes: new { @class = "control-label " })
                    <div>
                        @Html.EditorFor(model => model.DurationHours, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DurationHours, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.EventSponsor, htmlAttributes: new { @class = "control-label " })
                    <div>
                        @Html.EditorFor(model => model.EventSponsor, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EventSponsor, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.EventVenue, htmlAttributes: new { @class = "control-label " })
                    <div>
                        @Html.EditorFor(model => model.EventVenue, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EventVenue, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

        </div>
    </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                <input class="btn btn-primary" type="submit" value="Save" id="btnModalSubmit" />
            </div>
    }
    @section Scripts {
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        <script>
        var form = $("#editForm")
            .removeData("validator") /* added by the raw jquery.validate plugin */
            .removeData("unobtrusiveValidation");  /* added by the jquery unobtrusive plugin*/
        $.validator.unobtrusive.parse(form);
        </script>
    }