@model IEnumerable<KalingaCMSFinal.Models.EmpTraining>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.empID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DurationHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventSponsor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventVenue)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.empID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainingTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DurationHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventSponsor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventVenue)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.empTrainID }) |
                @Html.ActionLink("Details", "Details", new { id=item.empTrainID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.empTrainID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
