@model Tuple<KalingaCMSFinal.Models.LivestockPoultryInventory, IEnumerable<KalingaCMSFinal.Models.vw_LivestockAndPoultryInventoryByMunicipalityByYear>>

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Livestock and Poultry Inventory</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Item1.MunicipalityID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Item1.MunicipalityID, ViewBag.Municipalities as SelectList, "--Select Municipality--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Item1.MunicipalityID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Item1.LivestockPoultryID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Item1.LivestockPoultryID, ViewBag.LivestockPoultry as SelectList, "--Select Livestock/Poultry--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Item1.LivestockPoultryID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Item1.NumberofLivestock, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Item1.NumberofLivestock, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Item1.NumberofLivestock, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Item1.YearTaken, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Item1.YearTaken, new { htmlAttributes = new { @class = "form-control datepicker" } })
                @Html.ValidationMessageFor(model => model.Item1.YearTaken, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<table class="table table-striped table-bordered" id="LivestockTable">
    <thead>
    <tr>
        <th>
            Municipality
        </th>
        <th>
            Livestock/Poultry 
        </th>
        <th>
            Number of Livestock/Poultry
        </th>
        <th>
            Year Taken
        </th>
        <th>
            Action
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Item2)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Municipality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LivestockPoultry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberofLivestock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearTaken)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.LivestockInvID }, new { @class = "modalOpener editModal btn btn-info btn-sm glyphicon glyphicon-edit", @data_target = "editModal" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.LivestockInvID }, new { @class = "modalOpener deleteModal btn btn-danger btn-sm glyphicon glyphicon-trash", @data_target = "deleteModal" })
            </td>
        </tr>
    }
    </tbody>
</table>
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div id="mainContent" class="modal-content col-sm-12">
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('#LivestockTable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'excel', 'pdf'
                ]
            });
            $('#LivestockTable').on("click", ".modalOpener", function (e) {
                e.preventDefault();
                //replace the get with this.href to load the edit page
                $.get(this.href, function (data) {
                    //replace the content returned
                    $("#mainContent").html(data);
                });
                //show the modal
                $('#myModal').modal({
                    keyboard: true,
                }, 'show');
                return false;
            });
            $('#myModal').on('shown.bs.modal', function (e) {
                var form = $("#editForm")
                    .removeData("validator") /* added by the raw jquery.validate plugin */
                    .removeData("unobtrusiveValidation");  /* added by the jquery unobtrusive plugin*/
                $.validator.unobtrusive.parse(form);
                $(function () {
                    $('.datepicker').datepicker({
                        changeMonth: false,
                        changeYear: true,
                        showButtonPanel: true,
                        yearRange: '1950:2020', // Optional Year Range
                        dateFormat: 'yy',
                        onClose: function (dateText, inst) {
                            var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                            $(this).datepicker('setDate', new Date(year, 0, 1));
                        }
                    });
                });
            })
        });
    </script>
}
