@model KalingaCMSFinal.Models.WorkersByClass

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WorkersByClass</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClassWorkerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassWorkerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgeGroupID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgeGroupID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GenderID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenderID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberofPopulation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberofPopulation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearTaken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearTaken)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WorkersByClassID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
