@model KalingaCMSFinal.Models.ref_Sector

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ref_Sector</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SectorCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectorCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectorDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectorDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SectorID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
