@model IEnumerable<KalingaCMSFinal.Models.ForestCoverVegetation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LandCoverClassID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AreaHectares)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Distribution)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearTaken)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LandCoverClassID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AreaHectares)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Distribution)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearTaken)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VegetationID }) |
            @Html.ActionLink("Details", "Details", new { id=item.VegetationID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VegetationID })
        </td>
    </tr>
}

</table>
