@model Tuple<KalingaCMSFinal.Models.ref_ClimateChangeTypology, IEnumerable<KalingaCMSFinal.Models.vw_ClimateChangeTypology>>

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Climate Change Typology</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Item1.StrategicPriorityID, htmlAttributes: new { @class = "control-label col-sm-3 input-sm" })
            <div class="col-sm-9">
                @Html.DropDownListFor(model => model.Item1.StrategicPriorityID, ViewBag.TypologyCodes as SelectList, "--Select Strategic Priority--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Item1.StrategicPriorityID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Item1.StrategicPriorityAreaID, htmlAttributes: new { @class = "control-label col-sm-3 input-sm" })
            <div class="col-sm-9">
                @Html.DropDownListFor(model => model.Item1.StrategicPriorityAreaID, ViewBag.PriorityAreas as SelectList, "--Select Strategic Priority Area--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Item1.StrategicPriorityAreaID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Item1.StratPriorityClassID, htmlAttributes: new { @class = "control-label col-sm-3 input-sm" })
            <div class="col-sm-9">
                @Html.DropDownListFor(model => model.Item1.StratPriorityClassID, ViewBag.PriorityClassifications as SelectList, "--Select Strategic Priority Class--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Item1.StratPriorityClassID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Item1.StrategicPriorityGrpID, htmlAttributes: new { @class = "control-label col-sm-3 input-sm" })
            <div class="col-sm-9">
                @Html.DropDownListFor(model => model.Item1.StrategicPriorityGrpID, ViewBag.PriorityGroup as SelectList, "--Select Strategic Priority Group--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Item1.StrategicPriorityGrpID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Item1.TypologyCode, htmlAttributes: new { @class = "control-label col-sm-3 input-sm" })
            <div class="col-sm-9">
                @Html.EditorFor(model => model.Item1.TypologyCode, new { htmlAttributes = new { @class = "form-control input-sm" } })
                @Html.ValidationMessageFor(model => model.Item1.TypologyCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Item1.TypologyDescription, htmlAttributes: new { @class = "control-label col-sm-3 input-sm" })
            <div class="col-sm-9">
                @Html.EditorFor(model => model.Item1.TypologyDescription, new { htmlAttributes = new { @class = "form-control input-sm" } })
                @Html.ValidationMessageFor(model => model.Item1.TypologyDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-sm-9">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<table class="table table-bordered table-striped" id="ClimateTable">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Priority
            </th>
            <th>
                Area
            </th>
            <th>
                Class
            </th>
            <th>
                Group
            </th>
            <th>
                Typology Code
            </th>
            <th>
                Typology Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Item2)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TypologyID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StrategicPriorityDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StrategicPriorityAreaDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StrategicPriorityClassification)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StrategicPriorityGrpDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypologyCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypologyDescription)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.TypologyID }, new { @class = "modalOpener editModal btn btn-info btn-sm glyphicon glyphicon-edit", @data_target = "editModal" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.TypologyID }, new { @class = "modalOpener deleteModal btn btn-danger btn-sm glyphicon glyphicon-trash", @data_target = "deleteModal" })
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div id="mainContent" class="modal-content col-sm-12">
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('#ClimateTable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'excel', 'pdf'
                ]
            });
            
            $('#ClimateTable').on("click",".modalOpener", function (e) {
                e.preventDefault();
                //replace the get with this.href to load the edit page
                $.get(this.href, function (data) {
                    //replace the content returned
                    $("#mainContent").html(data);
                });
                //show the modal
                $('#myModal').modal({
                    keyboard: true,
                }, 'show');
                return false;
            });
            $('#myModal').on('shown.bs.modal', function (e) {
                var form = $("#editForm")
                    .removeData("validator") /* added by the raw jquery.validate plugin */
                    .removeData("unobtrusiveValidation");  /* added by the jquery unobtrusive plugin*/
                $.validator.unobtrusive.parse(form);
            })
        });
    </script>
}
