@model KalingaCMSFinal.Models.ref_ClimateChangeTypology
@{
    Layout = null;
}
<div class="modal-header success">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Edit BDIP Per Municipality</h4>
</div>
@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "editForm", id = "editForm" }))
{
    <div class="modal-body">
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.TypologyID)

            <div class="form-group">
                @Html.LabelFor(model => model.StrategicPriorityID, htmlAttributes: new { @class = "control-label col-sm-3 input-sm" })
                <div class="col-sm-9">
                    @Html.DropDownListFor(model => model.StrategicPriorityID, ViewBag.TypologyCodes as SelectList, "--Select Strategic Priority--", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.StrategicPriorityID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.StrategicPriorityAreaID, htmlAttributes: new { @class = "control-label col-sm-3 input-sm" })
                <div class="col-sm-9">
                    @Html.DropDownListFor(model => model.StrategicPriorityAreaID, ViewBag.PriorityAreas as SelectList, "--Select Strategic Priority Area--", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.StrategicPriorityAreaID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.StratPriorityClassID, htmlAttributes: new { @class = "control-label col-sm-3 input-sm" })
                <div class="col-sm-9">
                    @Html.DropDownListFor(model => model.StratPriorityClassID, ViewBag.PriorityClassifications as SelectList, "--Select Strategic Priority Class--", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.StratPriorityClassID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.StrategicPriorityGrpID, htmlAttributes: new { @class = "control-label col-sm-3 input-sm" })
                <div class="col-sm-9">
                    @Html.DropDownListFor(model => model.StrategicPriorityGrpID, ViewBag.PriorityGroup as SelectList, "--Select Strategic Priority Group--", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.StrategicPriorityGrpID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TypologyCode, htmlAttributes: new { @class = "control-label col-sm-3 input-sm" })
                <div class="col-sm-9">
                    @Html.EditorFor(model => model.TypologyCode, new { htmlAttributes = new { @class = "form-control input-sm" } })
                    @Html.ValidationMessageFor(model => model.TypologyCode, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TypologyDescription, htmlAttributes: new { @class = "control-label col-sm-3 input-sm" })
                <div class="col-sm-9">
                    @Html.EditorFor(model => model.TypologyDescription, new { htmlAttributes = new { @class = "form-control input-sm" } })
                    @Html.ValidationMessageFor(model => model.TypologyDescription, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
        <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            <input class="btn btn-primary" type="submit" value="Save" />
        </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
