@model Tuple<KalingaCMSFinal.Models.ref_Regions, IEnumerable<KalingaCMSFinal.Models.vw_RegionList>>

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>Region</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class=" row">
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Item1.CountryID, htmlAttributes: new { @class = "control-label " })
                <div>
                    @Html.DropDownListFor(model => model.Item1.CountryID, ViewBag.Countries as SelectList, "--Select Country--", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Item1.CountryID, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Item1.RegionalDesignation, htmlAttributes: new { @class = "control-label " })
                <div>
                    @Html.EditorFor(model => model.Item1.RegionalDesignation, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Item1.RegionalDesignation, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Item1.RegionName, htmlAttributes: new { @class = "control-label " })
                <div>
                    @Html.EditorFor(model => model.Item1.RegionName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Item1.RegionName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <br/>
        <div class="form-group">
            <div class="col-md-offset-0 col-md-5">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<br />
<table class="table table-bordered table-striped" id="RegionsTable">
    <thead>
    <tr>
        <th>
            Country
        </th>
        <th>
            Regional Designation/Code
        </th>
        <th>
            Region Name/Description
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Item2)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegionalDesignation)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.regionID }, new { @class = "modalOpener editModal btn btn-info btn-sm glyphicon glyphicon-edit", @data_target = "editModal" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.regionID }, new { @class = "modalOpener deleteModal btn btn-danger btn-sm glyphicon glyphicon-trash", @data_target = "deleteModal" })
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div id="mainContent" class="modal-content col-sm-12">
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('#RegionsTable').DataTable({
            });
            $('#RegionsTable').on("click", ".modalOpener", function (e) {
                e.preventDefault();
                //replace the get with this.href to load the edit page
                $.get(this.href, function (data) {
                    //replace the content returned
                    $("#mainContent").html(data);
                });
                //show the modal
                $('#myModal').modal({
                    keyboard: true,
                }, 'show');
                return false;
            });
            $('#myModal').on('shown.bs.modal', function (e) {
                var form = $("#editForm")
                    .removeData("validator") /* added by the raw jquery.validate plugin */
                    .removeData("unobtrusiveValidation");  /* added by the jquery unobtrusive plugin*/
                $.validator.unobtrusive.parse(form);
            })
        });
    </script>
}