@model KalingaCMSFinal.Models.ref_Regions

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>ref_Regions</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CountryID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CountryID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RegionName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RegionName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RegionalDesignation)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RegionalDesignation)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.regionID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
