@model KalingaCMSFinal.Models.vw_EmployeeSalaryHistory

@{
    ViewBag.Title = "Employee Salary History";
}

<h2>Employee Salary History</h2>
<hr />
<div class="row">
    <div class="form-group col-md-3">
        @Html.LabelFor(model => model.empID, htmlAttributes: new { @class = "control-label" })
        <div>
            @Html.DropDownListFor(model => model.empID, ViewBag.Employees as SelectList, "--Select Employee--", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.empID, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<table class="table table-striped table-bordered" id="SalaryHistoryTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PositionDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonthlySalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalaryGradeDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StepIncrement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpStatusDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsGovService)
            </th>
        </tr>
    </thead>
    <tbody id="SalaryHistoryTableData">
</table>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            var table = $('#SalaryHistoryTable').DataTable({
                language: {
                    emptyTable: "", //
                    loadingRecords: "Please wait .. ",
                    zeroRecords: ""
                },
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'copy',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'csv',
                        filename: function () { return $('#empID option:selected').text() + "|" + " Salary History"; },
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'excel',
                        filename: function () { return $('#empID option:selected').text() + "|" + " Salary History"; },
                        title: function () { return $('#empID option:selected').text() + " | Salary History"; },
                        exportOptions: {
                            columns: ':visible'
                        },
                        customize: function (xlsx) {
                            var sheet = xlsx.xl.worksheets['sheet1.xml'];
                            $('row:first c', sheet).attr('s', '42');
                        }
                    },
                    {
                        extend: 'pdf',
                        filename: function () { return $('#empID option:selected').text() + " | Salary History"; },
                        orientation: 'landscape',
                        pageSize: 'LEGAL',
                        title: function () { return $('#empID option:selected').text() + " | Salary History"; },
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'print',
                        orientation: 'landscape',
                        title: function () { return $('#empID option:selected').text() + " | Salary History"; },
                        pageSize: 'LEGAL',
                        exportOptions: {
                            columns: ':visible'
                        }
                    }
                ]
            });
            $("#empID").on("change", function (e) {
                $("#SalaryHistoryTableData").empty();
                    $.get("@Url.Action("SalaryHistory", "EmployeeSalaryHistory")", { EmployeeID: $("#empID").val() },
                        function (empID) {
                            $.each(empID, function (index, data) {
                                DateHired = data.DateHired.replace(" 12:00:00 AM", "");
                                DateResigned = data.DateResigned.replace(" 12:00:00 AM", "");
                            table.row.add([
                                data.Department,
                                DateHired,
                                DateResigned,
                                data.PositionTitle,
                                data.MonthlySalary,
                                data.SalaryGrade,
                                data.StepIncrement,
                                data.AppointmentStatus,
                                data.GovernmentService
                            ]);
                            table.draw();
                    });
                });
                });
            });
    </script>
}