@model IEnumerable<KalingaCMSFinal.Models.PopulationHighestEducationAttained>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HighestEducAttainedID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MalePopulation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FemalePopulation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearTaken)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HighestEducAttainedID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MalePopulation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FemalePopulation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearTaken)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PopEducationAttainedID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PopEducationAttainedID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PopEducationAttainedID })
        </td>
    </tr>
}

</table>
