@model KalingaCMSFinal.Models.PopulationByReligiousAffiliation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PopulationByReligiousAffiliation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReligionID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReligionID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberofHouseholds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberofHouseholds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearTaken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearTaken)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PopReligionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
