@model IEnumerable<KalingaCMSFinal.Models.PopulationByReligiousAffiliation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReligionID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberofHouseholds)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearTaken)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ReligionID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberofHouseholds)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearTaken)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PopReligionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PopReligionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PopReligionID })
        </td>
    </tr>
}

</table>
