@using KalingaCMSFinal.Security;
@{
    if (RemainSession.Roles == null)
    {
        Response.Redirect("~/Access/Login");
    }
    else if (RemainSession.Roles != null)
    {
        var First = RemainSession.Firstname;
        var Last = RemainSession.Lastname;
        var Username = RemainSession.Username;
        var Role = RemainSession.Roles;
        <!DOCTYPE html>
        <html>
        <head>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>@ViewBag.Title</title>
            @Styles.Render("~/Content/css")
            @Styles.Render("~/Content/DataTables/css/dataTables.bootstrap.min.css")
            @Styles.Render("~/Content/DataTables/css/buttons.bootstrap.min.css")
            @Styles.Render("~/Content/themes/base/jquery-ui.min.css")
            @Styles.Render("~/Gentel/css/font-awesome/css/font-awesome.min.css")
            @Styles.Render("~/Gentel/css/custom.min.css")
            @Scripts.Render("~/bundles/modernizr")
            @Styles.Render("~/Content/nprogress.css")
            <style>
                body {
                    width: 100%;
                    height: 100%;
                    margin: 0px;
                    padding: 0px;
                    overflow: auto;
                }

                .kalingaLogo {
                    height: 2em;
                }

                .ui-datepicker-calendar {
                    display: none;
                }

                .carouselSliders {
                    width: 100%;
                }

                .carousel-inner {
                    width: 100%;
                    max-height: 400px !important;
                }
            </style>
        </head>

        <body class="nav-md">
            <div class="container body">
                <div class="main_container">
                    <div class="col-md-3 left_col">
                        <div class="left_col scroll-view">
                            <div class="navbar nav_title">
                                <center><a href="/Dashboard/Index" class="site_title"><img src="../content/images/KalingaLogo.png" alt="..." class="img-circle kalingaLogo" width="80"></a></center>
                            </div>

                            <div class="clearfix"></div>

                            <!-- menu profile quick info -->
                            <div class="profile">
                                <div class="profile_pic">
                                    <img src="../content/images/UserIcon.jpg" alt="..." class="img-circle profile_img">
                                </div>
                                <div class="profile_info">
                                    <span>Welcome,</span>
                                    <h2>@First  @Last</h2>
                                </div>
                            </div>
                            <!-- /menu profile quick info -->
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <!-- sidebar menu -->
                            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                                <div class="menu_section">
                                    <h3>General</h3>
                                    <ul class="nav side-menu">
                                        @if ((Role.Contains("AIPAdmin")) || Role.Contains("SuperAdmin"))
                                        {
                                            <li>
                                                <a><i class="fa fa-edit"></i> A.I.P. <span class="glyphicon glyphicon-chevron-down"></span></a>
                                                <ul class="nav child_menu">
                                                    <li>@Html.ActionLink("New Projects", "Create", "NewProjects")</li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a><i class="fa fa-list"></i> Reports <span class="glyphicon glyphicon-chevron-down"></span></a>
                                                <ul class="nav child_menu">
                                                    <li>@Html.ActionLink("List of Projects", "Index", "ProjectProfile")</li>
                                                    <li>@Html.ActionLink("Charts", "Soon", "Dashboard")</li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a><i class="fa fa-cogs"></i> Manage Module <span class="glyphicon glyphicon-chevron-down"></span></a>
                                                <ul class="nav child_menu">
                                                    <li>@Html.ActionLink("Project Status", "Create", "ProjectStatus")</li>
                                                    <li>@Html.ActionLink("Project Category", "Create", "ProjectCategory")</li>
                                                    <li>@Html.ActionLink("Source of Fund", "Create", "SourceofFund")</li>
                                                    <li>@Html.ActionLink("Implementing Department", "Create", "ImplementingDepartment")</li>
                                                    <li>@Html.ActionLink("BDIP per Municipality", "Create", "BDIPperMunicipality")</li>
                                                    <li>@Html.ActionLink("Official Code", "Create", "OfficialCode")</li>
                                                    <li>@Html.ActionLink("Sector Type", "Create", "SectorType")</li>
                                                    <li>@Html.ActionLink("Account Codes", "Create", "AccountCode")</li>
                                                    <li>@Html.ActionLink("Strategic Priority", "Create", "StrategicPriority")</li>
                                                    <li>@Html.ActionLink("Strategic Priority Area", "Create", "StrategicPriorityArea")</li>
                                                    <li>@Html.ActionLink("Priority Classification", "Create", "PriorityClassification")</li>
                                                    <li>@Html.ActionLink("Climate Change Typology ", "Create", "ClimateChangeTypology")</li>
                                                </ul>
                                            </li>
                                        }
                                        @if((Role.Contains("SocioEconAdmin")) || Role.Contains("SuperAdmin"))
                                        {
                                            <li>
                                                <a><i class="fa fa-group"></i> Population <span class="glyphicon glyphicon-chevron-down"></span></a>
                                                <ul class="nav child_menu">
                                                    <li>@Html.ActionLink("Population Distribution", "Create", "TotalPopulationAndDistribution")</li>
                                                    <li>@Html.ActionLink("Population Density", "Create", "PopulationDensity")</li>
                                                    <li>@Html.ActionLink("Growth Rate", "Create", "GrowthRate")</li>
                                                    <li>@Html.ActionLink("Household Migration Rate", "Create", "HouseholdMigration")</li>
                                                    <li>@Html.ActionLink("Household Population 10 Years and Above", "Create", "HouseHoldPopulation10YearsAndAbove")</li>
                                                    <li>@Html.ActionLink("Household Highest Education Attained", "Create", "HouseholdHighestEducationAttained")</li>
                                                    <li>@Html.ActionLink("Gainful Workers by Major Occupation Group", "Create", "GainfulWorkersByMajorOccupationGroup")</li>
                                                    <li>@Html.ActionLink("Gainful Workers by Major Business or Industry", "Create", "GainfulWorkersByMajorBusinessOrIndustry")</li>
                                                    <li>@Html.ActionLink("Gainful Workers by Class of Worker", "Create", "GainfulWorkersByClassOfWorker")</li>
                                                    <li>@Html.ActionLink("Household Population by Ethnicity", "Create", "PopulationByEthnicity")</li>
                                                    <li>@Html.ActionLink("Household Population by Language Spoken", "Create", "PopulationByLanguageSpoken")</li>
                                                    <li>@Html.ActionLink("Household Population by Religious Affiliation", "Create", "PopulationByReligiousAffiliation")</li>
                                                    <li>@Html.ActionLink("Household Population by Citizenship and Sex", "Create", "PopulationByCitizenshipAndSex")</li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a><i class="fa fa-tree"></i> Agriculture <span class="glyphicon glyphicon-chevron-down"></span></a>
                                                <ul class="nav child_menu">
                                                    <li>@Html.ActionLink("Palay Production, Area Harvested and Average Yield", "Create", "PalayProductionAreaHarvestedAndAverageYield")</li>
                                                    <li>@Html.ActionLink("Corn Production, Area and Yield", "Create", "CornAreaProductionsAndYield")</li>
                                                    <li>@Html.ActionLink("Coffee Area and Production", "Create", "CoffeeAreaAndProduction")</li>
                                                    <li>@Html.ActionLink("Other High Value Crops, Area and Production", "Create", "OtherHighValueCropsAreaAndProduction")</li>
                                                    <li>@Html.ActionLink("Livestock and Poultry Inventory", "Create", "LivestockPoultryInventory")</li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a><i class="fa fa-building-o"></i> Infrastracture <span class="glyphicon glyphicon-chevron-down"></span></a>
                                                <ul class="nav child_menu">
                                                    <li>@Html.ActionLink("Establishment by Industry", "Create", "EstablishmentByIndustry")</li>
                                                    <li>@Html.ActionLink("Status of Irrigation System", "Create", "StatusOfIrrigationSystem")</li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a><i class="fa fa-leaf"></i> Vegetation <span class="glyphicon glyphicon-chevron-down"></span></a>
                                                <ul class="nav child_menu">
                                                    <li>@Html.ActionLink("Forest Cover by Vegetation", "Create", "ForestCoverbyVegetation")</li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a><i class="fa fa-list"></i> Reports <span class="glyphicon glyphicon-chevron-down"></span></a>
                                                <ul class="nav child_menu">
                                                    <li>@Html.ActionLink("Population", "Index", "PopulationReportCharts")</li>
                                                    <li>@Html.ActionLink("Literacy", "Index", "LiteracyReportCharts")</li>
                                                    <li>@Html.ActionLink("Workers", "Index", "WorkerReportCharts")</li>
                                                    <li>@Html.ActionLink("Agriculture", "Index", "AgricultureReportCharts")</li>
                                                    <li>@Html.ActionLink("Infrastructure", "Index", "InfrastructureReportCharts")</li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a><i class="fa fa-cogs"></i> Manage Module <span class="glyphicon glyphicon-chevron-down"></span></a>
                                                <ul class="nav child_menu">
                                                    <li>@Html.ActionLink("Major Occupation", "Create", "MajorOccupationGroup")</li>
                                                    <li>@Html.ActionLink("Major Business Industry", "Create", "MajorBusinessIndustryGroup")</li>
                                                    <li>@Html.ActionLink("Class of Worker", "Create", "ClassOfWorker")</li>
                                                    <li>@Html.ActionLink("Ethnicity", "Create", "Ethnicity")</li>
                                                    <li>@Html.ActionLink("Language Spoken", "Create", "LanguageSpoken")</li>
                                                    <li>@Html.ActionLink("High Value Crops", "Create", "HighValueCrop")</li>
                                                    <li>@Html.ActionLink("Live Stock and Poultry", "Create", "LiveStockAndPoultry")</li>
                                                    <li>@Html.ActionLink("Industry Classification", "Create", "IndustryClassification")</li>
                                                    <li>@Html.ActionLink("Land Cover Classification ", "Create", "LandCoverClassification")</li>
                                                </ul>
                                            </li>
                                        }
                                        @if ((Role.Contains("SystemAdmin")) || Role.Contains("SuperAdmin"))
                                        {
                                            <li>
                                                <a><i class="fa fa-cog"></i> System <span class="glyphicon glyphicon-chevron-down"></span></a>
                                                <ul class="nav child_menu">
                                                    <li>@Html.ActionLink("App Users", "Create", "AppUsers")</li>
                                                </ul>
                                            </li>
                                        }
                                    </ul>
                                </div>
                                <div class="menu_section">
                                    <h3>Personal</h3>
                                    <ul class="nav side-menu">
                                        <li>
                                            <a><i class="fa fa-eye"></i> Inquiry <span class="glyphicon glyphicon-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li>@Html.ActionLink("View Personal Info", "Soon", "DashBoard")</li>
                                                <li>@Html.ActionLink("View Attendance", "Soon", "DashBoard")</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a><i class="fa fa-tv"></i> Monitor <span class="glyphicon glyphicon-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li>@Html.ActionLink("Leave", "Soon", "DashBoard")</li>
                                                <li>@Html.ActionLink("Offset", "Soon", "DashBoard")</li>
                                                <li>@Html.ActionLink("Overtime", "Soon", "DashBoard")</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a><i class="fa fa-edit"></i> Application <span class="glyphicon glyphicon-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li>@Html.ActionLink("Leave", "Soon", "DashBoard")</li>
                                                <li>@Html.ActionLink("Offset", "Soon", "DashBoard")</li>
                                                <li>@Html.ActionLink("Overtime", "Soon", "DashBoard")</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /sidebar menu -->
                            <!-- /menu footer buttons -->
                            <div class="sidebar-footer hidden-small">
                                <a data-toggle="tooltip" data-placement="top" title="Settings">
                                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                                </a>
                                <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                                    <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                                </a>
                                <a data-toggle="tooltip" data-placement="top" title="Lock">
                                    <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                                </a>
                                <a data-toggle="tooltip" data-placement="top" title="Logout">
                                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                                </a>
                            </div>
                            <!-- /menu footer buttons -->
                        </div>
                    </div>

                    <!-- top navigation -->
                    <div class="top_nav">
                        <div class="nav_menu">
                            <nav>
                                <div class="nav toggle">
                                    <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                                </div>

                                <ul class="nav navbar-nav navbar-right">
                                    <li class="">
                                        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <img src="../content/images/UserIcon.jpg" alt="">@First  @Last
                                            <span class=" fa fa-angle-down"></span>
                                        </a>
                                        <ul class="dropdown-menu dropdown-usermenu pull-right">
                                            <li><a href="javascript:;"> Profile</a></li>
                                            <li>
                                                <a href="javascript:;">
                                                    <span class="badge bg-red pull-right">50%</span>
                                                    <span>Settings</span>
                                                </a>
                                            </li>
                                            <li><a href="javascript:;">Help</a></li>
                                            <li><a href="~/Access/Logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                        </ul>
                                    </li>
                                    <!--
                                    <li role="presentation" class="dropdown">
                                        <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                            <i class="fa fa-envelope-o"></i>
                                            <span class="badge bg-green">6</span>
                                        </a>
                                        
                                        <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                            <li>
                                                <a>
                                                    <span class="image"><img src="../content/images/KalingaLogo.png" alt="Profile Image" /></span>
                                                    <span>
                                                        <span>John Smith</span>
                                                        <span class="time">3 mins ago</span>
                                                    </span>
                                                    <span class="message">
                                                        Film festivals used to be do-or-die moments for movie makers. They were where...
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a>
                                                    <span class="image"><img src="../content/images/KalingaLogo.png" alt="Profile Image" /></span>
                                                    <span>
                                                        <span>John Smith</span>
                                                        <span class="time">3 mins ago</span>
                                                    </span>
                                                    <span class="message">
                                                        Film festivals used to be do-or-die moments for movie makers. They were where...
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a>
                                                    <span class="image"><img src="../content/images/KalingaLogo.png" alt="Profile Image" /></span>
                                                    <span>
                                                        <span>John Smith</span>
                                                        <span class="time">3 mins ago</span>
                                                    </span>
                                                    <span class="message">
                                                        Film festivals used to be do-or-die moments for movie makers. They were where...
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a>
                                                    <span class="image"><img src="../content/images/KalingaLogo.png" alt="Profile Image" /></span>
                                                    <span>
                                                        <span>John Smith</span>
                                                        <span class="time">3 mins ago</span>
                                                    </span>
                                                    <span class="message">
                                                        Film festivals used to be do-or-die moments for movie makers. They were where...
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <div class="text-center">
                                                    <a>
                                                        <strong>See All Alerts</strong>
                                                        <i class="fa fa-angle-right"></i>
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                        -->
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!-- /top navigation -->
                    <!-- page content -->
                    <div class="right_col" role="main">
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_content">
                                        @RenderBody()
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /page content -->
                </div>
            </div>

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.min.js")
            @Scripts.Render("~/Scripts/flot/jquery.flot.min.js")
            @Scripts.Render("~/Scripts/flot/jquery.flot.pie.min.js")
            @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap.min.js")
            @Scripts.Render("~/Scripts/DataTables/dataTables.buttons.min.js")
            @Scripts.Render("~/Scripts/DataTables/buttons.bootstrap.min.js")
            @Scripts.Render("~/Scripts/DataTables/buttons.print.min.js")
            @Scripts.Render("~/Scripts/DataTables/buttons.flash.min.js")
            @Scripts.Render("~/Scripts/DataTables/buttons.colVis.min.js")
            @Scripts.Render("~/Scripts/DataTables/buttons.html5.min.js")
            @Scripts.Render("~/Scripts/bootbox.min.js")
            @Scripts.Render("~/Gentel/js/custom.min.js")
            @Scripts.Render("~/Scripts/jquery-ui-1.12.1.min.js");
            @Scripts.Render("~/Scripts/Chart.min.js");
            @Scripts.Render("~/Scripts/nprogress.js");
            @RenderSection("scripts", required: false)
            <script type='text/javascript'>
                $(function () {
                    $('.datepicker').datepicker({
                        changeMonth: false,
                        changeYear: true,
                        showButtonPanel: true,
                        yearRange: '1950:2020', // Optional Year Range
                        dateFormat: 'yy',
                        onClose: function (dateText, inst) {
                            var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                            $(this).datepicker('setDate', new Date(year, 0, 1));
                        }
                    });
                });
            </script>
            <script>
                // Show the progress bar
                NProgress.start();

                // Trigger finish when page fully loaded
                jQuery(window).on('load', function () {
                    
                    NProgress.done();
                });

                // Trigger bar when exiting the page
                jQuery(window).on('unload', function () {
                    NProgress.start();
                });

            </script>
        </body>
    </html>
    }
}
