@model KalingaCMSFinal.Models.ref_StrategicPriority

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ref_StrategicPriority</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StrategicPriorityNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StrategicPriorityNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StrategicPriorityDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StrategicPriorityDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StrategicPriorityID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
