@model IEnumerable<KalingaCMSFinal.Models.PopulationByCitizenshipGender>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CountryID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GenderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberofHousehold)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearTaken)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CountryID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GenderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberofHousehold)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearTaken)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PopCitizenSexID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PopCitizenSexID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PopCitizenSexID })
        </td>
    </tr>
}

</table>
