@model KalingaCMSFinal.Models.ref_SourceOfFund

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ref_SourceOfFund</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SourceFundCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SourceFundCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SourceFundDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SourceFundDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SourceFundID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
