@model KalingaCMSFinal.Models.ref_Barangay

@{
    Layout = null;
}

<div class="modal-header success">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Edit Barangay</h4>
</div>


@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "editForm", id = "editForm" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.barangayID)

            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.countryID, htmlAttributes: new { @class = "control-label " })
                    <div>
                        @Html.DropDownListFor(model => model.countryID, ViewBag.Countries as SelectList, "--Select Country--", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.countryID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.regionID, htmlAttributes: new { @class = "control-label " })
                    <div>
                        @Html.DropDownListFor(model => model.regionID, new SelectList(" "), "--Select Region--", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.regionID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.provinceID, htmlAttributes: new { @class = "control-label " })
                    <div>
                        @Html.DropDownListFor(model => model.provinceID, new SelectList(" "), "--Select Province--", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.provinceID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.municipalityID, htmlAttributes: new { @class = "control-label model." })
                    <div>
                        @Html.DropDownListFor(model => model.municipalityID, new SelectList(" "), "--Select Municipality--", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.municipalityID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Barangay, htmlAttributes: new { @class = "control-label model." })
                    <div>
                        @Html.EditorFor(model => model.Barangay, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Barangay, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
        <input class="btn btn-primary" type="submit" value="Save" />
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var form = $("#editForm")
            .removeData("validator") /* added by the raw jquery.validate plugin */
            .removeData("unobtrusiveValidation");  /* added by the jquery unobtrusive plugin*/
        $.validator.unobtrusive.parse(form);
    </script>
}
