@model KalingaCMSFinal.Models.ref_HighValueCrop

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ref_HighValueCrop</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HighValueCrop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HighValueCrop)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CropCommodityID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CropCommodityID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HighValueCropID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
