@model IEnumerable<KalingaCMSFinal.Models.ref_HighValueCrop>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HighValueCrop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CropCommodityID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HighValueCrop)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CropCommodityID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HighValueCropID }) |
            @Html.ActionLink("Details", "Details", new { id=item.HighValueCropID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HighValueCropID })
        </td>
    </tr>
}

</table>
