@model KalingaCMSFinal.Models.EmpEducationHistory

@{
    Layout = null;
}

<div class="modal-header success">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Edit Education History</h4>
</div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "editForm", id = "editForm" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.empEducID)
            @Html.HiddenFor(model => model.empID)

            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.EducLevelID, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.DropDownListFor(model => model.EducLevelID, ViewBag.Levels as SelectList, "--Select Level--", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.EducLevelID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.SchoolName, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.EditorFor(model => model.SchoolName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SchoolName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.DegreeID, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.DropDownListFor(model => model.DegreeID, ViewBag.Degrees as SelectList, "--Select Degree--", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DegreeID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.YearGraduated, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.EditorFor(model => model.YearGraduated, new { htmlAttributes = new { @class = "form-control datepicker1" } })
                        @Html.ValidationMessageFor(model => model.YearGraduated, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Earned, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.EditorFor(model => model.Earned, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Earned, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Distinction, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.EditorFor(model => model.Distinction, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Distinction, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
        <input class="btn btn-primary" type="submit" value="Save" id="btnModalSubmit" />
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var form = $("#editForm")
            .removeData("validator") /* added by the raw jquery.validate plugin */
            .removeData("unobtrusiveValidation");  /* added by the jquery unobtrusive plugin*/
        $.validator.unobtrusive.parse(form);
    </script>
}